@keyframes modalFade {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-primary {
  color: #2ec4b6 !important;
  border: 1px solid #eceff1 !important;
  border-radius: 18px;
  background-color: #eceff1 !important;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.6em 1.2em;
}

.btn-primary:hover {
  color: #fafafa !important;
  background-color: #2ec4b6 !important;
  border: 1px solid #2ec4b6 !important;
  background-image: linear-gradient(to left, #00d18a, #00ce99, #00cba5, #0ec8af, #2ec4b6);
}
.btn-primary:active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
}

.btn-primary.active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
  outline-color: #2ec4b6 !important;
}

.btn-sign-in {
  color: #ffffff;
  border: 1px solid #5e60ce;
  border-radius: 6px;
  background-color: #5e60ce;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.6em 1em;
}

.btn-sign-in:hover {
  color: #ffffff;
  border: 1px solid #3c3ec3;
  background-color: #3c3ec3;
}

.btn-user-action {
  color: #ffffff;
  border: 1px solid #3b76ef;
  border-radius: 18px;
  background-color: #3b76ef;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.4em 1em;
}

.btn-user-action-cancel {
  color: #3b76ef;
  border: 1px solid #3b76ef;
  border-radius: 18px;
  background-color: #ffffff;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.4em 1em;
}

.btn-user-action:hover {
  color: #ffffff;
  background-color: #135bec;
}

.btn-user-action-cancel:hover {
  color: #135bec;
  border: 1px solid #135bec;
  background-color: #fafafa;
}

.btn-wallet-access {
  border: 2px solid #006644;
  border-radius: 6px;
  background-color: #536dfe;
  background-color: transparent;
  transition: 0.3s;
  width: 160px;
}

.btn-wallet-access span {
  color: #ffffff;
  transition: 0.3s;
}

.btn-wallet-access:hover {
  cursor: pointer;
  border: 2px solid #eceff1;
  background-color: #eceff1;
}

.btn-wallet-access:hover span {
  color: #000000;
}

.btn-wallet-access .home-icon {
  fill: #00d18a;
  width: 40px;
}

.path path {
  fill: #00d18a;
}

.card-title {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.cover {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  min-height: 550px;
  background-color: #18191a;
  background-image: url('./static/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover .heading {
  animation: fadeInUp;
  animation-duration: 1s;
}

.cover .initial-load {
  animation: fadeIn;
  animation-duration: 1.5s;
}

/* front page title */
.cover h1 {
  font-family: 'Alata', sans-serif;
  font-size: 5.5em;
  text-transform: uppercase;
}

.dashboard-card {
  border: none;
	-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  
  /* referring to animate.css */
  animation: fadeIn;
  animation-duration: 0.8s;
}

.dashboard-icon {
  width: 1.2em;
  margin-top: -2px;
  margin-right: 2px;
}

.dashboard-spinner {
  color: #00cba5;
}

.disclaimer span {
  font-size: 0.85em;
  color: #00cba5;
}

.disclaimer .btn {
  font-size: 0.85em;
  color: #00cba5;
}

.close {
  font-weight: 400;
}

.logo {
  width: 24px;
  height: auto;
}

.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(43, 46, 56, 0.7); /* Black w/ opacity */
}

.modal .contract-calls-modal {
    padding-top: 10%;
}

.modal-processing h2, .modal-sent h2 {
  color: #263238;
  font-size: 1.4em;
  font-weight: 500;
}

.modal-title {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.modal-body {
  font-size: 0.9em;
}

.modal-body input {
  font-size: 1em;
}

.modal-sent .txn-id {
  font-size: 0.85em;
  word-break: keep-all;
}

.modal-icon-success {
  fill: #0ec8af;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  background-color: #263238;
  background-image: linear-gradient(to left, #12171c, #171d23, #1c242a, #212b31, #263238);
}

.navbar .btn-sign-out {
  font-size: 0.9em;
  color: #ffffff;
  margin: 4px;
  background-color: #263238;
}

.navbar .btn-sign-out:hover {
  cursor: pointer;
  color: #00d18a;
}

.navbar-right li {
  color: #89adf5;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: -10px;
}

.navbar-right li p {
  padding-top: 0.9em;
}

.navbar-title {
  color: #19d1ad;
  font-family: 'Alata', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-left: 0.5em;
}

.performance-stats {
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.performance-stats h4 {
  color: #3b76ef;
  font-size: 0.9em;
  text-transform: capitalize;
}

.performance-stats p {
  font-size: 1.4em;
  margin-top: -0.5em;
}

.sidebar-divider {
  background-color:#3f4b5a;
  width: 90%;
}

.ssn-table-comm-reward {
  color: #485f6a;
  letter-spacing: 0.02em;
}

.ssn-table-status-active {
  font-size: 0.80em;
  font-weight: 500;
  color: #2e7d32;
  background-color: #d2f9dd;
  text-transform: uppercase;
}

.ssn-table-status-inactive {
  font-size: 0.80em;
  font-weight: 500;
  color: #424242;
  background-color: #e0e0e0;
  text-transform: lowercase;
  text-transform: uppercase;
}

.wallet-access {
  margin-top: 3em;
  /* referring to animate.css */
  animation: fadeIn;
  animation-duration: 0.8s;
}

.Toastify__toast--error {
  color: #ffffff;
  font-size: 0.9em;
}

#content {
  background-color: #f6f8fb;
  min-height: calc( 100vh - 66px);
}

#content h1 {
  font-size: 1.3em;
}

#dashboard {
  font-family: 'Poppins', sans-serif;
}

#dashboard-ssn-details, #dashboard-recent-txn {
  color: #000000;
  font-size: 0.85em;
}

#dashboard-ssn-details h5, #dashboard-recent-txn h5 {
  color: #263238;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: capitalize;
}

#dashboard-ssn-details > .row {
  background-color: #ffffff;
  background-color: rgba(255,255,255, 0.95);
}

#dashboard-ssn-details th, #dashboard-recent-txn th {
  border-top: #ffffff;
  color: #263238;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
}

#dashboard-ssn-details tbody > tr > :nth-child(1){
  color:#3b76ef;
  font-weight: 500;
}

#home-mini-navbar {
  position: fixed;
  top: 0;
  right: 0;
}

#home-mini-navbar span {
  font-weight: 500;
  font-size: 0.9em;
  text-transform: capitalize;
}

#home-network-selector {
  background-color: #28343c;
  background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z' fill='rgba(255,255,255,1)'/></svg>") no-repeat;
  background-position: right 0% top 50%;
  border: 1px;  
  border-radius: 6px;
  color: #dddddd;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1em;
  padding: 0.8em 1.6em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* referring to animate.css */
  animation: fadeIn;
  animation-duration: 2.5s;
}

#home-network-selector:hover {
  cursor: pointer;
  color: #00d18a;
  background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z' fill='rgba(0,209,138,1)'/></svg>") no-repeat;
  background-position: right 0% top 50%;
}

#home-ssn-details {
  color: #000000;
  font-size: 0.85em;
  margin-top: 2em;
}

#home-ssn-details h2 {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

#home-ssn-details > .row {
  background-color: #ffffff;
  background-color: rgba(255,255,255, 0.95);
}

#home-ssn-details th {
  border-top: #ffffff;
  color: #263238;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
}

#home-ssn-details tbody > tr > :nth-child(1){
  color:#3b76ef;
  font-weight: 500;
}

#keystore label {
  background-color: #eceff1;
  border-radius: 4px;
  border: 0;
  color: #2ec4b6;
  font-size: 1em;
  padding: 10px;
  width: 450px;
}

#keystore label:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2ec4b6;
}

#keystore input {
  display: none;
}

#keystore-passphrase {
  font-size: 0.9em;
  width: 450px;
}

#ledger-connect-modal th {
  color: #3b76ef;
  font-size: 0.95em;
  font-weight: 500;
  text-transform: uppercase;
}

#ledger-connect-modal table {
  font-size: 0.85em;
}

#ledger-connect-modal .account-row:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #3b76ef !important;
}

#navigation ul {
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}

#network {
  background-color: #263238;
  border: 1px solid #263238;
  color: #dddddd;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#network:hover {
  cursor: pointer;
  border: 1px solid #555555;
}

#mnemonic-password-input {
  color: #263238;
  font-size: 0.9em;
  width: 520px;
}

#mnemonic-phrase {
  height: 140px;
  width: 520px;
}

#sidebar {
  background-color: #313A46;
  background-image: linear-gradient(to bottom, #313a46, #2e3843, #2b363f, #28343c, #263238);
  color: #ffffff;
  font-size: 0.85em;
  min-height: 100vh;
}

#sidebar h1 {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

#staking-table {
  font-size: 0.85em;
}

#staking-table th {
  border-top: #ffffff;
  color: #3b76ef;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

#staking-table tbody > tr > :nth-child(1){
  color:#3b76ef;
}

#unauthenticated-section {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  min-height: 550px;
  background-color: #18191a;
  background-image: url('./static/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#unauthenticated-section .content {
  width: 600px;
  background-color: #ffffff;
}