.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes modalFade {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-primary {
  color: #2ec4b6 !important;
  border: 1px solid #eceff1 !important;
  border-radius: 18px;
  background-color: #eceff1 !important;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.6em 1em;
}

.btn-primary:hover {
  color: #fafafa !important;
  background-color: #2ec4b6 !important;
}
.btn-primary:active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
}

.btn-primary.active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
  outline-color: #2ec4b6 !important;
}

.card-title {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.cover {
  height: 100vh;
  min-height: 550px;
  background-color: #18191a;
}

.dashboard-card {
  border: none;
	-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
	box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

.logo {
  width: 24px;
  height: auto;
}

.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(43, 46, 56, 0.7); /* Black w/ opacity */
}

.modal-dialog {
  top: 20%;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  background-color: #263238;
  background-image: linear-gradient(to left, #12171c, #171d23, #1c242a, #212b31, #263238);
}

.navbar-right li {
  color: #bfd7ff;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: -10px;
}

.navbar-right li p {
  padding-top: 0.9em;
}

.navbar-title {
  color: #19d1ad;
  font-family: 'Alata', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-left: 0.5em;
}

.sidebar-divider {
  background-color:#3f4b5a;
  width: 90%;
}

#wallet-access button {
  margin: 0 0.5rem;
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}

#content {
  background-color: #f6f8fb;
  min-height: calc( 100vh - 66px);
}

#content h1 {
  font-size: 1.3em;
}

#dashboard {
  font-family: 'Poppins', sans-serif;
}

#keystore label {
  background-color: #4caf50;
  border-radius: 4px;
  border: 0;
  font-size: 0.9em;
  padding: 10px;
  width: 450px;
}

#keystore label:hover {
  cursor: pointer;
  background-color: #43a047;
}

#keystore input {
  display: none;
}

#keystore-passphrase {
  font-size: 0.9em;
  width: 450px;
}

#navigation ul {
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}

#network {
  background-color: #263238;
  border: 1px solid #263238;
  color: #dddddd;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#network:hover {
  cursor: pointer;
  border: 1px solid #555555;
}

#mnemonic-phrase {
  height: 140px;
  width: 520px;
}

#sidebar {
  background-color: #313A46;
  background-image: linear-gradient(to bottom, #313a46, #2e3843, #2b363f, #28343c, #263238);
  color: #ffffff;
  font-size: 0.85em;
  min-height: 100vh;
}

#sidebar h1 {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}