@keyframes modalFade {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn-primary {
  color: #2ec4b6 !important;
  border: 1px solid #eceff1 !important;
  border-radius: 18px;
  background-color: #eceff1 !important;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.6em 1.2em;
}

.btn-primary:hover {
  color: #fafafa !important;
  background-color: #2ec4b6 !important;
  border: 1px solid #2ec4b6 !important;
  background-image: linear-gradient(to left, #00d18a, #00ce99, #00cba5, #0ec8af, #2ec4b6);
}
.btn-primary:active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
}

.btn-primary.active {
  color: #fafafa;
  background-color: #2ec4b6 !important;
  outline-color: #2ec4b6 !important;
}

.btn-user-action {
  color: #ffffff;
  border: 1px solid #3b76ef;
  border-radius: 18px;
  background-color: #3b76ef;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.4em 1em;
}

.btn-user-action-cancel {
  color: #3b76ef;
  border: 1px solid #3b76ef;
  border-radius: 18px;
  background-color: #ffffff;
  font-size: 0.85em;
  font-weight: 500;
  padding: 0.4em 1em;
}

.btn-user-action:hover {
  color: #ffffff;
  background-color: #135bec;
}

.btn-user-action-cancel:hover {
  color: #135bec;
  border: 1px solid #135bec;
  background-color: #fafafa;
}

.btn-wallet-access {
  border: 2px solid #006644;
  border-radius: 6px;
  background-color: #536dfe;
  background-color: transparent;
  transition: 0.3s;
  width: 160px;
}

.btn-wallet-access span {
  color: #ffffff;
  transition: 0.3s;
}

.btn-wallet-access:hover {
  cursor: pointer;
  border: 2px solid #eceff1;
  background-color: #eceff1;
}

.btn-wallet-access:hover span {
  color: #000000;
}

.btn-wallet-access .home-icon {
  fill: #00d18a;
  width: 40px;
}

.card-title {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.cover {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  min-height: 550px;
  background-color: #18191a;
  background-image: url('./static/bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* front page title */
.cover h1 {
  font-family: 'Alata', sans-serif;
  font-size: 5.5em;
  text-transform: uppercase;
}

.dashboard-card {
  border: none;
	-webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  
  /* referring to animate.css */
  animation: fadeIn;
  animation-duration: 0.8s;
}

.dashboard-icon {
  width: 1.2em;
  margin-top: -2px;
  margin-right: 2px;
}

.dashboard-spinner {
  color: #00cba5;
}


.close {
  font-weight: 400;
}

.logo {
  width: 24px;
  height: auto;
}

.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(43, 46, 56, 0.7); /* Black w/ opacity */
}

.modal-dialog {
  top: 20%;
}

.modal-processing h2 {
  color: #263238;
  font-size: 1.4em;
  font-weight: 500;
}

.modal-title {
  color: #263238;
  font-size: 1em;
  font-weight: 500;
  text-transform: capitalize;
}

.modal-body {
  font-size: 0.9em;
}

.modal-body input {
  font-size: 1em;
}

.modal-body span.txn-id {
  font-size: 0.85em;
  word-break: keep-all;
}

.modal-icon-success {
  fill: #0ec8af;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  background-color: #263238;
  background-image: linear-gradient(to left, #12171c, #171d23, #1c242a, #212b31, #263238);
}

.navbar-right li {
  color: #89adf5;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: -10px;
}

.navbar-right li p {
  padding-top: 0.9em;
}

.navbar-title {
  color: #19d1ad;
  font-family: 'Alata', sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin-left: 0.5em;
}

.sidebar-divider {
  background-color:#3f4b5a;
  width: 90%;
}

.wallet-access {
  /* referring to animate.css */
  animation: fadeIn;
  animation-duration: 0.8s;
}

.Toastify__toast--error {
  color: #ffffff;
  font-size: 0.9em;
}

#content {
  background-color: #f6f8fb;
  min-height: calc( 100vh - 66px);
}

#content h1 {
  font-size: 1.3em;
}

#dashboard {
  font-family: 'Poppins', sans-serif;
}

#keystore label {
  background-color: #eceff1;
  border-radius: 4px;
  border: 0;
  color: #2ec4b6;
  font-size: 1em;
  padding: 10px;
  width: 450px;
}

#keystore label:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #2ec4b6;
}

#keystore input {
  display: none;
}

#keystore-passphrase {
  font-size: 0.9em;
  width: 450px;
}

#navigation ul {
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
}

#network {
  background-color: #263238;
  border: 1px solid #263238;
  color: #dddddd;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#network:hover {
  cursor: pointer;
  border: 1px solid #555555;
}

#mnemonic-phrase {
  height: 140px;
  width: 520px;
}

#sidebar {
  background-color: #313A46;
  background-image: linear-gradient(to bottom, #313a46, #2e3843, #2b363f, #28343c, #263238);
  color: #ffffff;
  font-size: 0.85em;
  min-height: 100vh;
}

#sidebar h1 {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

#staking-table {
  font-size: 0.85em;
}

#staking-table th {
  border-top: #ffffff;
  color: #3b76ef;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
}

#staking-table tbody > tr > :nth-child(1){
  color:#3b76ef;
}